$primary: #3b1d60;
$secondary: #f2994a;
$color-main: #8476aa;
$color-title: #99efd0;
$color-links: #6D6D78;
$input-bg: rgba(246, 246, 246, 0.1);
$input-color: rgba(255, 255, 255, 0.2);
$color-white: #ffffff;

