@import "scss/variables";
@import "scss/fonts";
@import "scss/normalize";
@import "scss/mixins";

html {
    font-size: 16px;
}

body {
    position: relative;
    background: linear-gradient(-80deg, #3B1D60, #040D3E); // ??
    font-family: "Gilroy", sans-serif;
    color: $color-main;
    font-size: 1rem;
    line-height: 1.135;
    font-weight: 600;
    padding: 80px 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

// vh - 100vh = 300px, 10vh = 30px
// vw - 100vw = 1600px, 10vw = 160px, 1vw = 16px;

h1 {
    font-size: 2.75rem;
    margin: 0.45em 0;
}

h2 {
    span {
        color: $secondary;
    }
}

h3 {
    font-size: 1.125rem;
    line-height: 1.22;
}

a {
    color: #B5B5B5;
    text-decoration: none;
    font-size: 0.75rem;
}

.button {
    background: #F2994A;
    padding: 15px 32px;
    border-radius: 3px;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;

    &_additional {
        background: transparent;
        border: 1px solid $secondary;
    }

    &_small {
        padding: 10px 26px;
    }
}

@import "scss/blocks/menu";

@import "scss/blocks/slogan";

@import "scss/blocks/partners";




//background: url("/images/slogan-running-man.png") top right no-repeat;



// scss
// variables
// mixins

// css
// отсительные единицы измерения
// css variables (var)

// images
// растовая или векторная картинка