.create-project {
    position: relative;
    margin-bottom: 400px;

    &:after {
        content: url("/images/create-project-image.png");
        position: absolute;
        left: -134px;
        top: 75px;
    }

    &__title {
        margin: 0 auto 46px;
        width: 80%;
        text-align: center;
    }

    .button {
        margin: 0 auto;
        text-align: center;
        display: block; // ?
    }


}