.footer {

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 95px;
    }

    &__title {
        font-size: 1.625rem;
        color: $secondary;
    }

    &__network {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;

        &-title {
            color: $color-white;
            margin-bottom: 25px;
        }
    }

    &__item {
        display: block;
        margin-bottom: 16px;
        font-size: 1rem;
        font-weight: 400;
        color: $color-white;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__copyright {
        display: flex;
        justify-content: center;

        &-item {
            margin-right: 34px;
            color: $color-links;
            font-size: 0.875rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}