.footer {

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 95px;
    }

    &__title {
        font-size: 1.625rem;
        color: $secondary;
    }

    &__network {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;

        @media (max-width: 600px) {
           flex-wrap: wrap;
        }

        &-title {
            color: $color-additional;
            font-weight: bold;
            margin-bottom: 25px;
        }
    }

    &__column {
        @media (max-width: 600px) {
            width: 50%;
            margin-bottom: 50px;
        }
    }

    &__item {
        display: block;
        margin-bottom: 16px;
        font-size: 1rem;
        color: $color-additional;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__copyright {
        display: flex;
        justify-content: center;

        &-item {
            margin-right: 34px;
            color: $color-links;
            font-size: 0.875rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}