.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;

    &__inner {
        display: flex;
        align-items: center;

        img {
            margin-right: 45px;
        }
    }

    &__link {
        margin-right: 20px;
    }

    .button {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}