.reasons {
    margin-bottom: 120px;

    @media (max-width: 768px) {
        margin-bottom: 0;
    }

    &__title {
        text-align: center;
    }

    &__text {
        text-align: center;
        margin-bottom: 44px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 33%;
        margin-bottom: 40px;
        padding: 0 15px 0 52px;
        box-sizing: border-box;

        @media (max-width: 660px) {
            width: 50%;
        }

        @media (max-width: 425px) {
            width: 100%;
        }


        &-title {
            margin-top: 0;
        }

        &-image {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}