.slogan {
    position: relative;
    margin-bottom: 100px;

    &:after {
        content: url("/images/slogan-running-man.png");
        position: absolute;
        top: -20px;
        right: -140px;
    }

    &__inner {
        width: 49%;
    }

    &__title {
        color: $color-title;
    }

    &__text {
        margin-bottom: 40px;
        padding-right: 120px;
    }

    &__buttons {
        margin-bottom: 60px;
    }

    .button {
        margin-right: 20px;
        min-width: 157px;
    }

    &__video-preview {
        display: flex;
        align-items: center;

        .image {
            margin-right: 20px;
        }

        .text {
            margin-bottom: 6px;
        }

        .link {
            font-size: 0.875rem;
            color: $color-links;
        }

        &__description {
            display: flex;
        }
    }
}