.ways {
    margin-bottom: 140px;

    @media (max-width: 425px) {
        margin-bottom: 50px;
    }

    &__title {
        text-align: center;
        font-size: 2.25rem;
        max-width: 690px;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        text-align: center;
        margin-bottom: 48px;
    }

    &__columns {
        display: flex;
        justify-content: space-between;

        @media (max-width: 660px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__column {
        width: 30%;
        text-align: center;

        @media (max-width: 660px) {
            margin-bottom: 30px;
            width: 70%;
        }

        &-title {
            font-size: 2.625rem;
            color: $color-title;
            text-align: center;
        }
    }
}